<script type="text/ng-template" id="friends.modal.client.view.html">
    <div class="modal-header">
        <h3 class="modal-title">{{thisObject.modalHeader}}</h3>
    </div>
    <div class="modal-body" data-ng-init="initFriends()">
        <div class="form-horizontal">
            <legend>{{thisObject.modalLegend}}</legend>
            <user-list null-warning="'您还没有好友,请先添加好友。'" users="container.friends" user-list-type="'target'"></user-list>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">提交</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
</script>
